html {
  height: 100%;
}

body {
  box-sizing: border-box;
  max-width: 940px;
  padding: 0 20px;
  margin: 0 auto;
}

.projects .tools {
  list-style: none;
}

.projects .tools li {
  display: inline-block;
  background: #39c;
  margin-right: 10px;
  border-radius: 1.2em / 1.2em;
  color: #fff;
  padding: 4px 10px;
  line-height: 1.2em;
  font-size: 0.8em;
}
