html {
  height: 100%;
}

body {
  box-sizing: border-box;
  max-width: 940px;
  padding: 0 20px;
  margin: 0 auto;
}

.projects {
  list-style: none;
  margin: 0;
  padding: 0;
}

.projects h3 {
  font-size: 1.2em;
  background: #9cf;
  line-height: 1.4em;
  padding: 4px 10px;
}

.projects h3 a,
.projects h3 a:visited {
  color: #fff;
  text-decoration: none;
}

.projects h3 a:hover {
  text-decoration: underline;
}

.projects .tools {
  list-style: none;
  margin: 0;
  padding: 0;
}

.projects .tools li {
  display: inline-block;
  background: #39c;
  margin: 0 0.25em 0 0;
  border-radius: 1.2em / 1.2em;
  color: #fff;
  padding: 4px 10px;
  line-height: 1.2em;
  font-size: 0.8em;
}
