---
layout: default
---

<div class="home">

	<p>
    I'm in the process of rebuilding this site. There'll be
    more to see soon.
  </p>

  <p>
    In the meantime, you can find me on Twitter (<a href="https://twitter.com/StephenOrr1981">@StephenOrr1981</a>) or GitHub (<a href="https://github.com/stephenorr">stephenorr</a>).
  </p>

  <h2>My Projects</h2>

  {% for project in site.projects %}
    <ul class="projects">
      <li>
        <h3>
          <a class="post-link" href="{{ project.url | prepend: site.baseurl }}">{{ project.title }}</a>
        </h3>
        {{ project.excerpt | markdownify }}
        <ul class="tools">
          {% for technology in project.technologies %}
            <li>{{ technology | capitalize }}</li>
          {% endfor %}
        </ul>
      </li>
    </ul>
  {% endfor %}

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
