---
layout: default
---

<div class="home">

	<p>
    I'm in the process of rebuilding this site. There'll be
    more to see soon.
  </p>

  <p>
    In the meantime, you can find me on Twitter (<a href="https://twitter.com/StephenOrr1981">@StephenOrr1981</a>) or GitHub (<a href="https://github.com/stephenorr">stephenorr</a>).
  </p>

  <section class="main">
    {% include projects.md %}  
    {% include posts.md %}
  </section>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
