<ul class="post-list">
  {% for post in site.posts %}
    {% assign categories = [] %}
    <li>
      <span class="post-meta">
        {{ post.date | date: "%b %-d, %Y" }}
        | Posted in
        {% for category in post.categories|sort %}
          {{ category|capitalize }}
        {% endfor %}
      </span>

      <h2>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </h2>

      {{ post.excerpt | markdownify }}
    
  {% endfor %}
</ul>
